/* This is the div containing each individual transaction */
.transaction{
    margin: 10px;
    margin-left: 30px;
}

.heading{
    margin-top: 5px;
    margin-left: 20px;
    text-decoration: underline;
}

.transactionPage{
    margin: 0;
    background-color: #343435;
    height: 100vh;
    color: snow;
    display: flex;
}

.balance{
    margin-top: 7px;
    margin-left: 20px;
    margin-right: 120px;
}

.transactionForm{
    margin-top: 120px;
}

.transactionForm form{
    margin-top: 10px;
}

.transactionForm label{
    margin-bottom: 5px;
}

.transactionForm input{
    padding: 5px;
    border-radius: 5px;
    background-color: rgba(5, 214, 5, 0.4);
    margin-bottom: 5px;
    border: none;
}

.transactionForm input:hover{
    border: solid 2px aliceblue;
}

.transactionForm h1{
    text-decoration: underline;
}

.transactionForm button{
    background-color: rgba(5, 214, 5, 0.4);
    padding: 5px;
    border-radius: 10px;
    border: none;
}

.transactionForm button:hover{
    border: aliceblue 1px solid;
}

